version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: dashboard-db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: FSg8HiQ4QyqG1L1b
      POSTGRES_DB: dashboardDB
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data:
